@tailwind base;
@tailwind components;
@tailwind utilities;

main {
  background-image: url('./assets/background.webp');
  background-position: center;
  background-size: cover;
}

.loader {
  height: 200px;
  background:
      linear-gradient(0.25turn, transparent, rgba(255, 255, 255, 0.1), transparent),
      linear-gradient(#b6a1e7, rgba(221, 221, 221, 0.5)),
      linear-gradient(#b6a1e7, rgba(221, 221, 221, 0.5));
  background-color: rgba(255, 255, 255, 0.1);
  background-repeat: no-repeat;
  background-size: 215px 230px, 515px 130px, 100px 15px, 150px 15px;
  background-position: -215px 0, 0 0, 15px 150px, 15px 180px;
  animation: loading 1.5s infinite;
}

@keyframes loading {
to {
  background-position: 215px 0, 0 0, 15px 150px, 15px 180px;
}
}

.content{
  overflow: hidden;
  background: transparent;
  width: 100%;
  position: relative;
  padding: 20px;
  box-sizing: border-box;
  border-radius: 10px;
}

.content .line{
  width: 100%;
  height: 20px;
  background: #e3c5ff;
  margin: 20px 0;
  border-radius: 5px;
}

.content .shimmer{
  position: absolute;
  top: 0;
  left: 0;
  width: 50%;
  height: 100%;
  background: linear-gradient(100deg,
  rgba(255,255,255,0) 20%,
  rgba(255,255,255,0.5) 50%,
  rgba(255,255,255,0) 80%);

  animation: shimmer 2s infinite linear;
}

@keyframes shimmer{
  from {
      transform: translateX(-200%);
  }
  to{
      transform: translateX(200%);
  }
}